<div class="dex-scene">
    <div class="dex-card">
        <div class="dex-header">
            <div class="dex-button" aria-hidden="true"></div>
            <div class="dex-lights" aria-hidden="true">
                <span class="led led-red"></span>
                <span class="led led-yellow"></span>
                <span class="led led-green"></span>
            </div>
            <h1>Talents</h1>
        </div>

        <div class="dex-body">
            <div class="dex-screen field-page">

            </div>
        </div>
    </div>
</div>