<main class="app">
    <header class="topbar">
      <button class="exit-btn" (click)="exitGame()">Quitter le jeu</button>
      <h1>Guilde d'Aventuriers</h1>
      <div class="gold">🟡 {{ game.player().gold | number:'1.0-0' }}</div>
      <button class="icon-btn" (click)="toggleSettings()">
        <img src="/settings.png" alt="Paramètres" width="24" height="24">
      </button>
      <!-- Menu des paramètres -->
      <div class="settings-menu" *ngIf="showSettings()">
        <h2>Paramètres</h2>
        <button class="reset-btn" (click)="resetProgress()">🔁 Réinitialiser la progression</button>
        <button (click)="toggleSettings()">Fermer</button>
      </div>
    </header>

    <nav class="tabs">
      <button [class.active]="isGuild()" (click)="go('guild')">Guilde</button>
      <button [class.active]="isRecruit()" (click)="go('recruit')">Auberge des recrues</button>
      <button [class.active]="isForest()" (click)="go('forest')">Forêt</button>
    </nav>

    <section class="view jrpg-box">
      <app-guild *ngIf="isGuild()"></app-guild>
      <app-forest *ngIf="isForest()"></app-forest>
      <app-recruits *ngIf="isRecruit()"></app-recruits>
    </section>
  </main>