<div class="dex-scene">
  <div class="dex-card">
    <div class="dex-header">
      <div class="dex-button" aria-hidden="true"></div>
      <div class="dex-lights" aria-hidden="true">
        <span class="led led-red"></span>
        <span class="led led-yellow"></span>
        <span class="led led-green"></span>
      </div>
      <h1>Pokédex régional</h1>
    </div>

    <div class="dex-body">
      <div class="dex-screen pokedex-list-page">

        @if (list(); as rows) {
          <table class="pokedex-table">
            <thead>
              <tr>
                <th class="col-num">Dex #</th>
                <th class="col-pokemon group-end" colspan="2">Pokémon</th>
                <th class="col-type-head" colspan="2">Type</th>
              </tr>
            </thead>

            <tbody>
              @for (p of rows; track p.id) {
                <tr>
                  <td class="col-num" data-label="Dex #">#{{ p.id | number:'2.0-0' }}</td>

                  <td class="col-sprite" data-label="Sprite">
                    <a [routerLink]="['/pokedex', p.id]" class="sprite-link" title="Voir {{p.name}}">
                      <img [src]="p.images.sprite" [alt]="p.name" loading="lazy" />
                    </a>
                  </td>

                  <td class="col-name group-end" data-label="Nom">
                    <a [routerLink]="['/pokedex', p.id]" class="name-link">{{ p.name }}</a>
                  </td>

                  @if (p.types.length === 1) {
                    <td class="col-type group-end"
                        data-label="Type"
                        [attr.data-type]="p.types[0]"
                        colspan="2">
                      <a class="type-badge"
                         [attr.data-type]="p.types[0]"
                         [routerLink]="['/pokedex/types', (p.types[0] | typeSlug)]">
                        {{ p.types[0] }}
                      </a>
                    </td>
                  } @else {
                    <td class="col-type"
                        data-label="Type 1"
                        [attr.data-type]="p.types[0]">
                      <a class="type-badge"
                         [attr.data-type]="p.types[0]"
                         [routerLink]="['/pokedex/types', (p.types[0] | typeSlug)]">
                        {{ p.types[0] }}
                      </a>
                    </td>

                    <td class="col-type group-end"
                        data-label="Type 2"
                        [attr.data-type]="p.types[1]">
                      <a class="type-badge"
                         [attr.data-type]="p.types[1]"
                         [routerLink]="['/pokedex/types', (p.types[1] | typeSlug)]">
                        {{ p.types[1] }}
                      </a>
                    </td>
                  }
                </tr>
              }
            </tbody>
          </table>
        } @else {
          <p>Chargement du Pokédex…</p>
        }

      </div>
    </div>
  </div>
</div>
